<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDsH7APOG0M-NROWWOfDdig2VbL3Sw6Rr4</string>
	<key>GCM_SENDER_ID</key>
	<string>540370383900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitnessApp</string>
	<key>PROJECT_ID</key>
	<string>fitness-app-2b82a</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-app-2b82a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540370383900:ios:d8699bc989fa57e17b9bd9</string>
</dict>
</plist>